{% extends "revuCMS/layout.html" %}

{% block body %}
    <div class="container">
        <h3 class="mx-2">Add a new Lesson</h3>

        <form action="{% url 'addLesson' id=course.id %}" method="POST" class="my-3">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="text" name="title" class="form-control" id="title" placeholder="Title">
                <label for="title">Lesson Title</label>
            </div>
            <button type="submit" class="btn btn-success" style="background-color: rgba(127,127,213,1);; color: white; border: none;" onmouseover="this.style.backgroundColor='white'; this.style.border='1px solid rgba(127,127,213,1)'; this.style.color='rgba(127,127,213,1)'" onmouseout="this.style.backgroundColor='rgba(127,127,213,1)'; this.style.color='white'; this.style.border='none'">Confirm !</button>
        </form>
    </div>
{% endblock %}