{% extends "revuCMS/layout.html" %}

{% block body %}
    <div class="container">
        <h3 class="mx-2">Add Question:</h3>

        <form action="{% url 'addQuestion' id=quiz.id %}" method="POST" class="my-3">
            {% csrf_token %}
            <div class="card my-3">
                <div class="form-floating mb-3">
                    <textarea name="question_text" id="question_text" cols="172" rows="10" class="p-2"></textarea>
                </div>
                <div class="card-body">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="correct_answer" id="answer1" value="1">
                        <label class="form-check-label" for="answer1">
                            <input type="text" name="answer1" class="form-control" placeholder="Answer 1">
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="correct_answer" id="answer2" value="2">
                        <label class="form-check-label" for="answer2">
                            <input type="text" name="answer2" class="form-control" placeholder="Answer 2">
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="correct_answer" id="answer3" value="3">
                        <label class="form-check-label" for="answer3">
                            <input type="text" name="answer3" class="form-control" placeholder="Answer 3">
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="correct_answer" id="answer4" value="4">
                        <label class="form-check-label" for="answer4">
                            <input type="text" name="answer4" class="form-control" placeholder="Answer 4">
                        </label>
                    </div>
                    <button type="submit" class="btn btn-success my-3 mx-4" style="background-color: rgba(127,127,213,1);; color: white; border: none;" onmouseover="this.style.backgroundColor='white'; this.style.border='1px solid rgba(127,127,213,1)'; this.style.color='rgba(127,127,213,1)'" onmouseout="this.style.backgroundColor='rgba(127,127,213,1)'; this.style.color='white'; this.style.border='none'">Add Question!</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}