{% extends "revuCMS/layout.html" %}

{% block body %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    <h1 class="my-5 text-center">{{ course.title }}</h1>
    {% for item  in lessons_with_videos %}
        <div class="accordion w-75 mx-auto my-3" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne" style="background-color: rgb(145, 145, 236); color: white;">
                {{ item.lesson.title }}
                </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <ul class="list-group">
                            {% for video in item.videos %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a style="color:rgb(30,48,80); text-decoration: none;" href="{{ video.video }}">
                                    <i class="fa-brands fa-youtube mr-1"></i> 
                                    {{video.title}}
                                </a>
                                {% if not user.is_superuser %}
                                <div class="ml-auto d-flex">
                                    <form action="{% url 'mark_videos_completed' id=video.id %}" method="POST">
                                        {% csrf_token %}
                                        <input class="form-check-input my-n2" type="checkbox" id="isCompleted {{video.id}}" name="isCompleted" {% if video.is_completed %} checked {% endif %} onchange="this.form.submit()">
                                    </form>
                                </div>
                                {% endif %}
                                {% if user.is_superuser %}
                                <div class="ml-auto d-flex">
                                    <a style="color:rgb(30,48,80); text-decoration: none; margin-right: 10px; margin-left: 10px;" href="{% url 'editVid' id=video.id %}">
                                        <i class="fa-regular fa-pen-to-square" style="color: #FFD43B;"></i>
                                    </a>
                                    <a style="color:rgb(30,48,80); text-decoration: none;" href="{% url 'deleteVid' id=video.id %}">
                                        <i class="fa-solid fa-trash" style="color: #ff0000; display: inline-block;"></i>
                                    </a>
                                </div>
                                {% endif %}
                            </li>
                            {% endfor %}
                            {% for quiz in item.quizzes %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a style="color:rgb(30,48,80); text-decoration: none;" href="{% url 'quizInfo' id=quiz.id %}">
                                    <i class="fa-solid fa-sheet-plastic mr-1"></i>
                                    {{quiz.title}}
                                </a>
                                {% if user.is_superuser %}
                                <div class="ml-auto d-flex">
                                    <a style="color:rgb(30,48,80); text-decoration: none; margin-right: 10px; margin-left: 10px;" href="{% url 'editQuiz' id=quiz.id %}">
                                        <i class="fa-regular fa-pen-to-square" style="color: #FFD43B;"></i>
                                    </a>
                                    <a style="color:rgb(30,48,80); text-decoration: none;" href="{% url 'deleteQuiz' id=quiz.id %}">
                                        <i class="fa-solid fa-trash" style="color: #ff0000; display: inline-block;"></i>
                                    </a>
                                </div>
                                {% endif %}
                            </li>
                            {% endfor %}
                            {% if user.is_superuser %}
                            <li class="list-group-item">
                                <a style="color:rgb(30,48,80); text-decoration: none;" href="{% url 'addVid' id=item.lesson.id %}">
                                    <i class="fa-solid fa-plus"></i> 
                                    Add Video
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a style="color:rgb(30,48,80); text-decoration: none;" href="{% url 'addQuiz' id=item.lesson.id %}">
                                    <i class="fa-solid fa-plus"></i> 
                                    Add Quiz
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% if user.is_superuser %}
                <div class="d-flex justify-content-center align-items-center">
                    <a class="btn btn-warning mb-2 mx-3" href="{% url 'editLesson' id=item.lesson.id %}" style="background-color: rgba(127,127,213,1); color: white; border: none;" onmouseover="this.style.backgroundColor='white'; this.style.border='1px solid rgba(127,127,213,1)'; this.style.color='rgba(127,127,213,1)'" onmouseout="this.style.backgroundColor='rgba(127,127,213,1)'; this.style.color='white'; this.style.border='none'">Edit Lesson</a>
                    <a class="btn btn-danger mb-2" href="{% url 'deleteLesson' id=item.lesson.id %}" style="background-color: rgb(224, 0, 0); color: white; border: none;" onmouseover="this.style.backgroundColor='white'; this.style.border='1px solid rgb(224, 0, 0)'; this.style.color='rgb(224, 0, 0)'" onmouseout="this.style.backgroundColor='rgb(224, 0, 0)'; this.style.color='white'; this.style.border='none'" >Delete Lesson</a>
                </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% if user.is_superuser %}
    <div class="accordion w-75 mx-auto my-3" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" >
            <div class="accordion-button" type="text" style="background-color: rgb(145, 145, 236);">
                <a style="color:rgb(30,48,80); text-decoration: none;" href="{% url 'addLesson' id=course.id %}" >
                    <i class="fa-solid fa-plus mr-1" style="color: white;"></i> 
                    <span style="color: white;">Add Lesson</span>
                </a>
            </div>
            </h2>
        </div>
    </div>
    {% endif %}
{% endblock %}