{% extends "revuCMS/layout.html" %}

{% block body %}
    <div class="container">
        <h3 class="mx-2">Edit Video:</h3>
        <form action="{% url 'editVid' id=video.id %}" method="POST" class="my-3">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ video.id }}">
            <div class="form-floating mb-3">
                <input type="text" name="title" class="form-control" id="title" placeholder="Title" value="{{ video.title }}">
                <label for="title">Video Title</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" name="vidLink" class="form-control" id="vidLink" placeholder="vidLink" value="{{ video.video }}">
                <label for="vidLink">Video Link</label>
            </div>
            <div class="form-group my-3">
                <label for="lesson">Select a lesson:</label>
                <select name="lesson" class="form-select" aria-label="Default select example">
                    <option value="{{ video.lesson }}" selected hidden >{{ video.lesson }}</option>
                    {% for lesson in lessons %}
                        <option value="{{ lesson.title }}">{{ lesson }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-warning" style="background-color: rgba(127,127,213,1);; color: white; border: none;" onmouseover="this.style.backgroundColor='white'; this.style.border='1px solid rgba(127,127,213,1)'; this.style.color='rgba(127,127,213,1)'" onmouseout="this.style.backgroundColor='rgba(127,127,213,1)'; this.style.color='white'; this.style.border='none'">Edit !</button>
        </form>
    </div>
{% endblock %}