{% extends "revuCMS/layout.html" %}
{% load static %}

{% block body %}
    {% if user.first_name %}
        <h1 class="my-5 text-center">Welcome {{ user.first_name }}</h1>
    {% else %}
        <h1 class="my-5 text-center">Welcome {{ user.username }}</h1>
    {% endif %}
    <div class="row justify-content-center">
        {% for award in awards %}
            <div class="card mb-3 mx-2" style="max-width: 320px;">
                <div class="row g-2">
                <div class="col-md-4">
                    <img src="{% static 'revuCMS/'|add:award.badge.badge|add:'.png' %}" class="img-fluid rounded-start" alt="Bronze">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">{{ award.name }}</h5>
                    <p class="card-text">{{ award.description }}</p>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <h1 class="my-5 text-center">Edit Your Profile</h1>
    <form action="{% url 'profile' %}" method="POST" style="max-width: 540px;" class="mx-auto text-center">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name" value="{{ user.first_name }}">
            <label for="fname">First Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="lname" name="lname" class="form-control" id="lname" placeholder="Last Name" value="{{ user.last_name }}">
            <label for="lname">Last Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" name="username" class="form-control" id="username" placeholder="Username" value="{{ user.username }}">
            <label for="username">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control" id="email" placeholder="email" value="{{ user.email }}">
            <label for="email">Email Address</label>
        </div>
        <input class="btn btn-primary" type="submit" value="Edit" style="width: 540px;background-color: rgba(127,127,213,1);; color: white; border: none;" onmouseover="this.style.backgroundColor='white'; this.style.border='1px solid rgba(127,127,213,1)'; this.style.color='rgba(127,127,213,1)'" onmouseout="this.style.backgroundColor='rgba(127,127,213,1)'; this.style.color='white'; this.style.border='none'">
    </form>
{% endblock %}